<div class="ui raised segment">
    <h2 class="ui header">Demo Form: Events</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form"
      [class.error]="!myForm.valid && myForm.touched">
      <div class="field" [class.error]="!sku.valid && sku.touched">
        <label for="skuInput">SKU</label>
        <input type="text" id="skuInput" placeholder="Sku" [formControl]="myForm.controls['sku']">
        <!-- Below validations are done when we set each FormControl(here sku is [formControl]) up as an instance variable -->
        <!-- Field Message -->
        <div *ngIf="!sku.valid" class="ui error message">Sku is Invalid</div>
        <!-- Specific Validation -->
        <div *ngIf="myForm.hasError('required', 'sku')" class="ui error message">Sku is required</div>
        <div *ngIf="sku.hasError('invalidSku')" class="ui error message">SKU must begin with <span>123</span></div>
      </div>
  
      <!-- Form Validation -->
      <div *ngIf="!myForm.valid" class="ui error message">Form is Invalid</div>
      <button type="submit" class="ui button">Submit</button>
    </form>
  </div>